@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@-webkit-keyframes fadeinAndDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeinAndDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeinAndUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeinAndUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: url("../fonts/Raleway-Black.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 100;
  src: url("../fonts/NotoSansJP-Thin.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 300;
  src: url("../fonts/NotoSansJP-Light.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 400;
  src: url("../fonts/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 700;
  src: url("../fonts/NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
  font-family: "DINAlternate";
  font-weight: 700;
  src: url("../fonts/DIN-Alternate-Bold.ttf") format("truetype");
}

:root {
  font-size: 1.2vw;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 0;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#7C539D), to(#EB5D7E));
  background: linear-gradient(0deg, #7C539D, #EB5D7E);
}

main {
  font: 800 15rem 'DINAlternate', sans-serif;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 6fr 1fr 6fr 2fr;
      grid-template-columns: 2fr 6fr 1fr 6fr 2fr;
  -ms-grid-rows: 10vh 80vh 10vh;
      grid-template-rows: 10vh 80vh 10vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.point-left, .point-right, .point-center {
  font-size: 20rem;
  margin: 0;
  letter-spacing: 0.01em;
}

.point-left.cntUp, .point-right.cntUp, .point-center.cntUp {
  -webkit-animation-name: fadeinAndDown;
          animation-name: fadeinAndDown;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.point-left.cntDown, .point-right.cntDown, .point-center.cntDown {
  -webkit-animation-name: fadeinAndUp;
          animation-name: fadeinAndUp;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.down-btn-left, .down-btn-right {
  color: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
}

.up-btn-left, .up-btn-right {
  color: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
}

.menu-btn {
  position: fixed;
  top: 5vh;
  right: 5vw;
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  z-index: 10;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(6vh / 6);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-btn span:nth-of-type(1) {
  top: 0;
}

.menu-btn span:nth-of-type(2) {
  top: calc((6vh - 1vh) / 2);
}

.menu-btn span:nth-of-type(3) {
  bottom: 0;
}

.menu-btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(calc((6vh - 1vh) / 2)) rotate(315deg);
  transform: translateY(calc((6vh - 1vh) / 2)) rotate(315deg);
}

.menu-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(calc(calc((6vh - 1vh) / 2) * -1)) rotate(-315deg);
  transform: translateY(calc(calc((6vh - 1vh) / 2) * -1)) rotate(-315deg);
}

.menu-mask {
  display: block;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.menu-mask.show {
  visibility: visible;
  opacity: 0.7;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.menu-body {
  position: fixed;
  bottom: -5vh;
  width: 100%;
  padding: 0 10vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility .5s, bottom 1s;
  transition: opacity .5s, visibility .5s, bottom 1s;
  z-index: 4;
}

.menu-body.show {
  bottom: 15vh;
  opacity: 1;
  visibility: visible;
}

.menu-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-body ul li {
  font-size: max(5rem, 30px);
  text-transform: uppercase;
  list-style-type: none;
  padding: 3rem;
  margin: 1rem;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-body ul li:hover {
  color: #e45f5f;
}
/*# sourceMappingURL=style.css.map */