// 外定義のSass取り込み
@import './mixin/flexboxsets';
@import './mixin/fonts';
@import './mixin/animations';
@import './mixin/mediaquerysets';

//@include font-face('<フォント名>', '＜フォントファイルまでのパス＞', <ウェイト>, <スタイル>, <タイプ>);
@include font-face('Raleway', '../fonts/Raleway-Light.ttf', 300, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Regular.ttf', 400, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Medium.ttf', 500, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Bold.ttf', 700, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-ExtraBold.ttf', 800, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Black.ttf', 900, null, ttf);
@include font-face('NotoSansJP', '../fonts/NotoSansJP-Thin.otf', 100, null, otf);
@include font-face('NotoSansJP', '../fonts/NotoSansJP-Light.otf', 300, null, otf);
@include font-face('NotoSansJP', '../fonts/NotoSansJP-Regular.otf', 400, null, otf);
@include font-face('NotoSansJP', '../fonts/NotoSansJP-Bold.otf', 700, null, otf);
@include font-face('DINAlternate', '../fonts/DIN-Alternate-Bold.ttf', 700, null, ttf);


// テーマカラー
$theme-colors: (
     'default': rgb(22, 22, 22)
    ,'peach': linear-gradient(180deg, #F0CBA5, #ED6B82)
    ,'modern-pink': linear-gradient(0deg, #7C539D, #EB5D7E)
);

// 現在のテーマカラー
$set-theme: 'default';



:root {
    font-size: 1.2vw;
    // ダブルタップ対策
    touch-action: manipulation;
}

// 基本設定
body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 0;
    color: #fff;
    background: map-get($theme-colors, $set-theme);
}

main {
    font: 800 15rem 'DINAlternate', sans-serif;
    font-size: 1rem;
    
    // 連打対応：テキスト選択の無効化
    user-select: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 6fr 2fr;
    grid-template-rows: 10vh 80vh 10vh;
    text-align: center;
    align-items: center;
}

.point {
    &-left, &-right, &-center {
        font-size: 20rem;
        margin: 0;
        letter-spacing: 0.01em;
        
        &.cntUp {
            @include useAnimation(fadeinAndDown, 0.4s, ease-out, forwards, 0s, 1);
        }
        &.cntDown {
            @include useAnimation(fadeinAndUp, 0.4s, ease-out, forwards, 0s, 1);
        }
    }
}

.down-btn {
    &-left, &-right {
        color: rgba($color: #fff, $alpha: 0.2);
        font-size: 1rem;
    }
}

.up-btn {
    &-left, &-right {
        color: rgba($color: #fff, $alpha: 0.2);
        font-size: 1rem;
    }
}



// ----------------------------------
// メニューボタンのデザインと挙動
// ----------------------------------
$menu-btn-height: 6vh;
$menu-btn-height-half: calc((#{$menu-btn-height} - 1vh) / 2);
@mixin menu-btn-common-val {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}

.menu-btn {
    // position: absolute;
    position: fixed;
    top: 5vh;
    right: 5vw;
    width: $menu-btn-height;
    height: $menu-btn-height;
    cursor: pointer;
    z-index: 10;
    @include menu-btn-common-val;
    
    span {
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(#{$menu-btn-height} / 6);
        background-color: rgba($color: #fff, $alpha: 0.2);
        border-radius: 4px;
        @include menu-btn-common-val;
    }
    
    span:nth-of-type(1) {
        top: 0;
    }
    span:nth-of-type(2) {
        top: $menu-btn-height-half;
    }
    span:nth-of-type(3) {
        bottom: 0;
    }
}

.menu-btn.active {
    span:nth-of-type(1) {
        -webkit-transform: translateY($menu-btn-height-half) rotate(315deg);
        transform: translateY($menu-btn-height-half) rotate(315deg);
    }
    span:nth-of-type(2) {
        opacity: 0;
    }
    span:nth-of-type(3) {
        -webkit-transform: translateY(calc(#{$menu-btn-height-half} * -1)) rotate(-315deg);
        transform: translateY(calc(#{$menu-btn-height-half} * -1)) rotate(-315deg);
    }
}



// メニュー表示時の画面マスク
.menu-mask {
    display: block;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    
    // メニュー開いた際
    &.show {
        visibility: visible;
        opacity: 0.7;
        transition: opacity 2s;
    }
}


// メニュー本体
.menu-body {
    position: fixed;
    // top: 6rem;
    // right: -5rem;
    bottom: -5vh;
    width: 100%;
    padding: 0 10vw;
    opacity: 0;
    visibility: hidden;
    // transition: opacity .5s, visibility .5s, right 1s;
    transition: opacity .5s, visibility .5s, bottom 1s;
    z-index: 4;
    
    &.show {
        // right: 5rem;
        bottom: 15vh;
        opacity: 1;
        visibility: visible;
    }
    
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    // メニューの１項目
    ul li {
        font-size: unquote("max(5rem, 30px)");
        text-transform: uppercase;
        list-style-type: none;
        padding: 3rem;
        margin: 1rem;
        transition-property: color;
        transition-duration: 0.5s;
        
        &:hover {
            color: rgba(228, 95, 95, 1.0);
        }
    }
    
}


