// 外定義のSass取り込み
@import './mixin/flexboxsets';
@import './mixin/fonts';
@import './mixin/animations';
@import './mixin/mediaquerysets';

//@include font-face('<フォント名>', '＜フォントファイルまでのパス＞', <ウェイト>, <スタイル>, <タイプ>);
@include font-face('Raleway', '../fonts/Raleway-Light.ttf', 300, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Regular.ttf', 400, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Medium.ttf', 500, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Bold.ttf', 700, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-ExtraBold.ttf', 800, null, ttf);
@include font-face('Raleway', '../fonts/Raleway-Black.ttf', 900, null, ttf);

@include font-face('NotoSansJP', '../fonts/NotoSansJP-Thin.otf', 100, null, otf);
@include font-face('NotoSansJP', '../fonts/NotoSansJP-Light.otf', 300, null, otf);
@include font-face('NotoSansJP', '../fonts/NotoSansJP-Regular.otf', 400, null, otf);
@include font-face('NotoSansJP', '../fonts/NotoSansJP-Bold.otf', 700, null, otf);

@include font-face('DINAlternate', '../fonts/DIN-Alternate-Bold.ttf', 700, null, ttf);



html {
    // // 基本は1.2vw、ただし10pxより小さくはしない
    // font-size: unquote('max(1.2vw, 10px)');
    font-size: 1.2vw;
}

// 基本設定
body {
    // @include useFlexBox(row);
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 0;
    background-color: rgb(22, 22, 22);
}

main {
    // @include useFlexBox(row);
    // font: 500 15rem 'Raleway', sans-serif;
    // font: 400 15rem 'NotoSansJP', sans-serif;
    font: 800 15rem 'DINAlternate', sans-serif;
    letter-spacing: 2rem;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 6fr 2fr;
    grid-template-rows: 100vh;
    text-align: center;
    align-items: center;
}

.points {
    // @include text-crop; // Will use default line height of 1.3
    font-size: 20rem;
    margin: 0;
    letter-spacing: 0.01em;
}

// @mixin text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
//     // Configured in Step 1
//     $top-crop: 92;
//     $bottom-crop: 49;
//     $crop-font-size: 321;
//     $crop-line-height: 1.2;

//     // Apply values to calculate em-based margins that work with any font size
//     $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
//     $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

//     // Mixin output
//     line-height: $line-height;

//     &::before,
//     &::after {
//         content: '';
//         display: block;
//         height: 0;
//         width: 0;
//     }

//     &::before {
//         margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
//     }

//     &::after {
//         margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
//     }
// }



// .left-point {
//     text-align: right;
// }
// .right-point {
//     text-align: left;
// }


